<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">

    <title>Estação IoT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Jeferson Ricardo Weiss">
    <meta name="description" content="
    Estação meteorológica IoT, que recebe os dados de um ESP8266, onde estão acoplados os sensores: 
    Sensor de Luz Ambiente TEMT6000 e Sensor de Pressão, Umidade e Temperatura BME280.
    São exidas informações de temperatura, umidade, pressão e luminosidade embiente.">
    <link rel="icon" href="images/favicon.ico" sizes="16x16" type="image/ico">
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <nav class="navbar navbar-light">
        <a class="navbar-brand" href="#">
            <img src="images/logo-min.png" width="45" height="40" class="d-inline-block align-top"
                alt="">
            Estação IoT
        </a>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 text-center">
                <h4>Temperatura</h4>
                <h1 class="display-2"><span id="temperatura"> - </span><span>&deg;</span>C</h1>
            </div>
            <div class="col-xs-12 col-md-6 text-center">
                <h4>Umidade</h4>
                <h1 class="display-2"><span id="umidade"> - </span>%</h1>
            </div>
        </div>
        <div class="row row2">
            <div class="col-xs-12 col-md-6 text-center">
                <h4>Pressão</h4>
                <h1 class="display-2"><span id="pressao"> - </span>hPa</h1>
            </div>
            <div class="col-xs-12 col-md-6 text-center">
                <h4>Luminosidade</h4>
                <h1 class="display-2"><span id="luminosidade"> - </span>lm</h1>
            </div>
        </div>
    </div>
</body>

<script src="/socket.io/socket.io.js"></script>

<script>
    //debugger;
    var socket = io();
    var spnTemperatura = document.getElementById('temperatura');
    var spnUmidade = document.getElementById('umidade');
    var spnPressao = document.getElementById('pressao');
    var spnLuminosidade = document.getElementById('luminosidade');

    socket.on('msgCliente', function (data) {
        spnTemperatura.textContent = data.TEMPERATURA;
        spnUmidade.textContent = data.UMIDADE;
        spnPressao.textContent = data.PRESSAO;
        spnLuminosidade.textContent = data.LDR;
    });
</script>


</html>